node_modules
build
.nyc_output
coverage
.idea
doc
.DS_Store
.env
.serverless
.openzeppelin/.session
publish/settings/test.json
system-local.json

/.serverless
/.env.staging


cache
types
coverage.json

.openzeppelin/.session
.openzeppelin/*-31337.json

.env.*
