node_modules
build
.nyc_output
coverage
.idea
doc
.DS_Store
.env
.serverless
.openzeppelin/mainnet.json
.openzeppelin/unknown-100.json
.openzeppelin/.session
.openzeppelin/test/*
publish/settings/test.json
metadata/test.json
system-local.json

/.serverless
/.env.staging
/typechain


cache
types
coverage.json

.openzeppelin/.session
.openzeppelin/*-31337.json

.env.*

flattened
addAggregator_*.txt